@model IEnumerable<DatHang>
@{
    ViewData["title"] = "Danh sách đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Đơn hàng</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bảng Đơn hàng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">        
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>Mã đặt hàng</th>
                                        <th>Tên người đặt hàng</th>
                                        <th>Mã đơn hàng</th>
                                        <th>Địa chỉ</th>
                                        <th>Phương thức thanh toán</th>
                                        <th>Ngày tạo</th>
                                        <th>Trạng thái</th>
                                        <th>Tác vụ </th>
                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.MaDatHang</td>
                                            <td>@item.TenNguoiDat</td>
                                            <td>@item.MaDatHang</td>
                                            <td>@item.DiaChiCuThe,@item.Phuong,@item.Quan,@item.Tinh</td>
                                            <td>
                                                @if (item.PhuongThucThanhToan == null || item.PhuongThucThanhToan == "COD")
                                                {
                                                    <span class="text text-uppercase">@item.PhuongThucThanhToan</span>
                                                }
                                                else
                                                {
                                                    <span class="text text-gray-600">MOMO: <a class="text text-secondary" asp-route-orderId="@item.PhuongThucThanhToan" asp-action="PaymentMomoInfo" asp-controller="DonHang"> @item.PhuongThucThanhToan</a></span>
                                                }
                                            </td>
                                            <td>@item.NgayTao</td>
                                    
                                            <td>
                                                @if (item.TrangThai == 1)
                                                {
                                                    <span class="text-success">Đơn hàng mới</span>
                                                }
                                                else if(item.TrangThai==0)
                                                {
                                                    <span class="text text-secondary">Đã xử lý</span>
                                                }
                                                else if (item.PhuongThucThanhToan != "COD" || item.TrangThai==4)
                                                {
                                                    <span class="text text-secondary">Đã thanh toán</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">Đã hủy</span>
                                                }
                                            </td>
                                            <td>
                                                <a class="btn btn-success mb-1" asp-controller="DonHang" asp-action="XemChiTiet" asp-route-MaDonHang="@item.MaDatHang">Xem chi tiết</a>
                                                @*   <a class="btn btn-danger" asp-controller="DonHang" asp-action="Delete" asp-route-Id="@item.Id">Xóa</a> *@
                                            </td>
                                        </tr>
                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
