@model IEnumerable<DatHangChiTiet>

@{
    ViewData["title"] = "Chi tiết đơn hàng";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    decimal TongTien = 0;
    decimal TongTienCuaSanPham = 0;

}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Đơn hàng</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Bảng Đơn hàng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <a asp-area="Admin" asp-controller="DanhMuc" asp-action="Create">Thêm Đơn hàng</a>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">

                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th>ID</th>
                                        <th>Tên người đặt hàng</th>
                                        <th>Sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Đơn giá</th>
                                        <th>Thành tiền</th>

                                    </tr>
                                </thead>


                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        TongTienCuaSanPham = item.SoLuong * item.SanPhams.GiaKhuyenMai;
                                        TongTien += TongTienCuaSanPham;
                                        <tr>
                                            <input type="hidden" asp-for="@item.MaDatHang" class="getId" />
                                            <td>@item.Id</td>
                                            <td>@item.TenNguoiDat</td>
                                            <td>@item.SanPhams.TenSanPham</td>
                                            <td>@item.SoLuong</td>
                                            <td>@item.SanPhams.GiaKhuyenMai.ToString("N0")đ</td>
                                            <td>@TongTienCuaSanPham.ToString("N0")đ</td>

                                        </tr>
                                    }

                                </tbody>
                                <tr class="total-amount">
                                    <th colspan="7" class=""><h1>Tổng tiền: @TongTien.ToString("N0")đ</h1></th>
                                </tr>


                            </table>
                            <div>
                                <h3>Trạng thái: </h3><select class="form-control select-update-order order-status">
                                    <option value="1">Đơn hàng mới</option>
                                    <option value="0">Đã xử lý</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('.select-update-order').change(function () {
                var status = $(this).val(); // trạng thái đơn hàng
                var ordercode = $('.getId').val(); // mã đơn hàng

                // Sử dụng Ajax để gửi dữ liệu cập nhật đơn hàng
                $.ajax({
                    type: "POST", // Sửa từ "typeof" thành "type"
                    url: "@Url.Action("CapNhatDonHang", "DonHang")", // Sửa "URL" thành "url"
                    data: { status: status, ordercode: ordercode },
                    success: function (result) {
                        if (result.success) {
                            Swal.fire("Cập nhật thành công");

                        } else {
                            Swal.fire("Cập nhật thất bại: " + result.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        Swal.fire("Có lỗi xảy ra: " + error);
                    }
                });
            });
        });
    </script>
}

