@model VanChuyen

@{
    ViewData["title"] = "Thêm phí vận chuyển";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .css_select_div {
        text-align: center;
    }

    .css_select {
        display: inline-table;
        width: 25%;
        padding: 5px;
        margin: 5px 2%;
        border: solid 1px #686868;
        border-radius: 5px;
    }
</style>
<h2>Phí vận chuyển</h2>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th>Tỉnh Thành Phố</th>
                        <th>
                            Quận/Huyện
                        </th>
                        <th>Phường/Xã</th>
                        <th>Giá vận chuyển</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in ViewBag.DSVC)
                    {
                        <tr>
                            <td>@item.TinhThanhPho</td>
                            <td>@item.QuanHuyen</td>
                            <td>@item.PhuongXa</td>
                            <td>@item.PhiVanChuyen</td>
                            <td>
                        
                        <a class="btn btn-danger" asp-controller="VanChuyen" asp-action="Delete" asp-route-Id="@item.Id">Xóa</a>
                        </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container mt-2">
    <div class="col-lg-8 mx-auto">
        <div class="card shadow">
            <div class="card-body p-5">
                <div class="text-center mb-4">
                    <h1 class="h4 text-primary">Thêm phí vận chuyển</h1>
                </div>

                <div class="form-group">
                    <label>Tỉnh Thành</label>
                    <select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
                        <option value="0">Tỉnh Thành</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Quận Huyện</label>
                    <select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
                        <option value="0">Quận Huyện</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Phường Xã</label>
                    <select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
                        <option value="0">Phường Xã</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Gia</label>
                    <input asp-for="PhiVanChuyen" id="price-shipping" type="type" name="name" value="" />
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-secondary btn-block btn-add-shipping" asp-action="Index">Lưu</button>
                    </div>
                    <div class="col-md-6">
                        <button asp-controller="VanChuyen" asp-action="Index" type="submit" class="btn btn-secondary btn-block" asp-action="Index">Quay lại</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }
    <script src="https://esgoo.net/scripts/jquery.js"></script>
    <script>
            $(".btn-add-shipping").click(function() {
            // Lấy giá trị của các trường được chọn
            var tinh = $("#tinh").find("option:selected").text();   // Tỉnh
            var quan = $("#quan").find("option:selected").text();   // Quận
            var phuong = $("#phuong").find("option:selected").text();  // Phường
            var price = $("#price-shipping").val();  // Giá cước

            // Kiểm tra nếu thông tin bị thiếu
            if (tinh == "" || quan == "" || phuong == "" || price == "") {
                Swal.fire("Làm ơn không bỏ trống.");
            } else {
                // Gửi dữ liệu qua AJAX
                $.ajax({
                    type: "POST",  // Phương thức POST
                    url: "@Url.Action("StoreShipping", "VanChuyen")",  // URL tới controller hành động StoreShipping
                    data: {
                        tinh: tinh,    // Tỉnh
                        quan: quan,    // Quận
                        phuong: phuong,  // Phường
                        price: price    // Giá
                    },  // Dữ liệu gửi lên
                    success: function(result) {
                        // Xử lý khi yêu cầu AJAX thành công
                        if (result.success) {
                            Swal.fire("Thêm vận chuyển thành công.");
                        } else if (result.duplicate) {
                            Swal.fire("Dữ liệu trùng lặp.");
                        }
                    }
                });
            }
        });
        </script>
    <script>
        $(document).ready(function () {
            //Lấy tỉnh thành
            $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
                if (data_tinh.error == 0) {
                    $.each(data_tinh.data, function (key_tinh, val_tinh) {
                        $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                    });
                    $("#tinh").change(function (e) {
                        var idtinh = $(this).val();
                        //Lấy quận huyện
                        $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                            if (data_quan.error == 0) {
                                $("#quan").html('<option value="0">Quận Huyện</option>');
                                $("#phuong").html('<option value="0">Phường Xã</option>');
                                $.each(data_quan.data, function (key_quan, val_quan) {
                                    $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                                });
                                //Lấy phường xã
                                $("#quan").change(function (e) {
                                    var idquan = $(this).val();
                                    $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                        if (data_phuong.error == 0) {
                                            $("#phuong").html('<option value="0">Phường Xã</option>');
                                            $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                                $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                            });
                                        }
                                    });
                                });

                            }
                        });
                    });

                }
            });
        });
    </script>
}
