@model SanPhams
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-3">
        @Html.Partial("_SidebarPartial")
    </div>

    <div class="col-sm-9 padding-right">
        <div class="product-details">
            <div class="row product-detail-wapper mt-4">
                <div class="col-md-7 col-sm-12 col-12 product-image">
                    <div class="pi">
                        <div class="product-image-single" id="product-image-single">
                            <img src="~/images/sanpham/@Model.HinhAnh"
                                 alt=""
                                 style="width: 90%; height: 90%; max-width: 100%"
                                 class="image-single" />
                        </div>
                        <div class="product-image-small">
                            @if (!string.IsNullOrEmpty(Model.DanhSachHinhAnh))
                            {
                                var imageList = Model.DanhSachHinhAnh.Split(',');

                                foreach (var image in imageList)
                                {
                                    <div class="hinhnho">
                                        <img src="~/images/sanpham/@image.Trim()" class="small-image">
                                    </div>
                                }
                            }


                        </div>
                    </div>
                </div>
                <div class="col-md-5 col-sm-12 col-12 product-text">
                    <div class="title">
                        <h3>@Model.TenSanPham</h3>
                    </div>
                    <div class="price">
                        <span class="discount">-@Model.Discount%</span>
                        <span>      @Model.GiaKhuyenMai.ToString("N0")đ</span>
                        <del class="giacu"> @Model.Gia.ToString("N0")đ</del>
                    </div>
                    <div class="cartmain">
                        <strong>Số lượng: </strong>
                        <div class="quanlity">
                            <button class="btn-tru">
                                <i class="">+</i>
                            </button>
                            <input type="text" value="1" class="align-center" />
                            <button class="btn-cong">
                                <i class="">-</i>
                            </button>
                        </div>
                        <div class="pro-info">
                            <p>

                            <p><b>Kích thước:</b> @Model.KichThuoc</p>

                            </p>
                            <p>
                            <p><b>Chất liệu:</b> @Model.MoTaChatLieu</p>
                            </p>
                            <p>
                                <span style="font-size: 10pt">
                                    <em>
                                        (*) Tiêu chuẩn California Air Resources Board xuất khẩu
                                        Mỹ, đảm bảo gỗ không độc hại, an toàn cho sức khỏe
                                    </em>
                                </span>
                            </p>
                        </div>
                        <div class="select-action">
                            <div class="addcart">
                                <a href="#" class="btn btn-danger add-to-cart"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                <a class="btn btn-default add-to-cart" asp-controller="Giohang" asp-action="Them" asp-route-Id="@Model.MaSanPham">
                                    <i class="fa fa-shopping-cart"></i>Giỏ hàng
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/product-details-->

        <div class="category-tab shop-details-tab">
            <!--category-tab-->
            <div class="col-sm-12">
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#details" data-toggle="tab">Thông tin chi tiết</a></li>
                    <li><a href="#companyprofile" data-toggle="tab">Company Profile</a></li>
                    <li><a href="#tag" data-toggle="tab">Tag</a></li>
                    <li><a href="#reviews" data-toggle="tab">Reviews (5)</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade active in" id="details">
                    @Model.Mota
                </div>

                <div class="tab-pane fade" id="companyprofile">
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery1.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery3.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery2.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery4.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="tag">
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery1.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery2.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery3.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="product-image-wrapper">
                            <div class="single-products">
                                <div class="productinfo text-center">
                                    <img src="images/home/gallery4.jpg" alt="" />
                                    <h2>$56</h2>
                                    <p>Easy Polo Black Edition</p>
                                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="reviews">
                    <div class="col-sm-12">
                        <h4>Đánh giá sản phẩm</h4>

                        <!-- Danh sách đánh giá -->
                        @if (Model.DanhGiaList.Any())
                        {
                            foreach (var review in Model.DanhGiaList)
                            {
                                <div class="review-item">
                                    <ul>
                                        <li><i class="fa fa-user"></i> @review.TenNguoiDanhGia</li>
                                        <li><i class="fa fa-envelope"></i> @review.Email</li>
                                        <li><i class="fa fa-star"></i> @review.SoSao Sao</li>
                                    </ul>
                                    <p>@review.MoTa</p>
                                </div>
                                <hr />
                            }
                        }
                        else
                        {
                            <p>Chưa có đánh giá nào.</p>
                        }

                        <!-- Form thêm đánh giá -->
                        <p><b>Viết đánh giá của bạn</b></p>
                        <form asp-action="ThemDanhGia" asp-controller="SanPham" method="post">
                            <input type="hidden" name="MaSanPham" value="@Model.MaSanPham" />
                            <span>
                                <input type="text" name="TenNguoiDanhGia" placeholder="Tên của bạn" required />
                                <input type="email" name="Email" placeholder="Địa chỉ Email" required />
                            </span>
                            <textarea name="MoTa" placeholder="Nhận xét của bạn" required></textarea>
                            <b>Đánh giá sao:</b>
                            <select name="SoSao" required>
                                <option value="5">5 Sao</option>
                                <option value="4">4 Sao</option>
                                <option value="3">3 Sao</option>
                                <option value="2">2 Sao</option>
                                <option value="1">1 Sao</option>
                            </select>
                            <button type="submit" class="btn btn-default pull-right">Gửi đánh giá</button>
                        </form>
                    </div>
                </div>

            </div>
        </div><!--/category-tab-->

        <div class="recommended_items" style="padding-top: 20px;">
            <!--recommended_items-->
            <h2 class="title text-center">Sản phẩm tương tự</h2>

            <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="item active">
                        @foreach (var LienQuan in @ViewBag.SPLQ as IEnumerable<SanPhams>)
                        {


                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">

                                        <div class="productinfo ">
                                            <a asp-controller="SanPham" asp-action="Deltail" asp-route-id="@LienQuan.MaSanPham">
                                                <span class="discount">@LienQuan.Discount%</span>
                                                <img src="~/images/sanpham/@LienQuan.HinhAnh" alt="" width="300" height="300" />
                                                <div class="name">
                                                    <p class="pt-2">@LienQuan.TenSanPham</p>
                                                </div>
                                            </a>

                                            <div class="row p">
                                                <div class="col-md-6">
                                                    <h2 class="giamoi" style="font-size: 20px">
                                                        @LienQuan.GiaKhuyenMai.ToString("N0")đ
                                                    </h2>
                                                </div>
                                                <div class="col-md-6">
                                                    <h2>
                                                        <del>
                                                            @LienQuan.Gia.ToString("N0")đ
                                                        </del>
                                                    </h2>
                                                </div>
                                            </div>

                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Mua ngay</a>
                                            @*  <a class="btn btn-default add-to-cart" asp-controller="Giohang" asp-action="Them" asp-route-Id="@item.MaSanPham">
                                        <i class="fa fa-shopping-cart"></i>Giỏ hàng
                                        </a> *@
                                            <button class="btn btn-default add-to-cart" data-product_id="@LienQuan.MaSanPham">
                                                <i class="fa fa-shopping-cart"></i>Giỏ hàng
                                            </button>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        }

                    </div>
                    @*    <div class="item">
                    <div class="col-sm-4">
                    <div class="product-image-wrapper">
                    <div class="single-products">
                    <div class="productinfo text-center">
                    <img src="images/home/recommend1.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-sm-4">
                    <div class="product-image-wrapper">
                    <div class="single-products">
                    <div class="productinfo text-center">
                    <img src="images/home/recommend2.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                    </div>
                    </div>
                    </div>
                    </div>
                    <div class="col-sm-4">
                    <div class="product-image-wrapper">
                    <div class="single-products">
                    <div class="productinfo text-center">
                    <img src="images/home/recommend3.jpg" alt="" />
                    <h2>$56</h2>
                    <p>Easy Polo Black Edition</p>
                    <button type="button" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</button>
                    </div>
                    </div>
                    </div>
                    </div>
                    </div> *@
                </div>
                @* <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                </a>
                <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                <i class="fa fa-angle-right"></i>
                </a> *@
            </div>
        </div><!--/recommended_items-->

    </div>
</div>
