    @using Vfurniture.Models.ViewModels
 @model GioHangsViewModel

<style type="text/css">
    .css_select_div {
        text-align: center;
    }

    .css_select {
        display: inline-table;
        width: 25%;
        padding: 5px;
        margin: 5px 2%;
        border: solid 1px #686868;
        border-radius: 5px;
    }
</style>
<div id="layout-cart">
    <div class="breadcrumb-shop">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
    </div>
    <div class="container">
        <div class="heading_page">
            <div class="header-page">
                <h1>Giỏ hàng của bạn</h1>
            </div>
        </div>
        <div class="row pd_page">
            <div class="col-md-6 col-xs-12 col-sm-6">
                <div class="list_form_cart">

                    <form action="/cart" method="post" id="cartformpage">
                        @if (Model.GioHangs.Count > 0)
                        {

                            <div class="row_cart">
                                <p class="title_cart">Có <span> sản phẩm</span> trong giỏ hàng</p>
                                <div class="list_item_cart">
                                    <div class="table-wrapper">
                                        <table class="table-cart">
                                            <tbody>
                                                @foreach (var item in Model.GioHangs)
                                                {
                                                    <tr class="line-item-container">
                                                        <td class="image">
                                                            <div class="product_image text-center">
                                                                <a href="">
                                                                    <img src="/images/sanpham/@item.HinhAnh" alt="" style="width:110px">
                                                                </a>
                                                            </div>
                                                        </td>
                                                        <td class="item" style="padding-left: 30px">
                                                            <a href="">
                                                                <h3>@item.SanphamName</h3>
                                                            </a>
                                                            <p>
                                                                <span class="text-danger">@item.GiaKhuyenMai.ToString("N0")đ</span>

                                                                <del>@item.Gia.ToString("N0")đ</del>

                                                            </p>
                                                            <p class="variant">

                                                                <span class="variant_title">Kích thước: @item.KichThuoc</span>

                                                            </p>
                                                            <div class="input-group quantity-partent">
                                                                <a type="button" class="btn btn-outline-secondary qtyminus qty-btn" asp-controller="Giohang" asp-action="congSanpham" asp-route-Id="@item.SanphamId">+</a>
                                                                <input type="text" class="form-control text-center line-item-qty item-quantity" style="width:20%" value=@item.SoLuong name="SoLuong">
                                                                <a type="button" class="btn btn-outline-secondary qtyplus qty-btn" asp-controller="Giohang" asp-action="truSanpham" asp-route-Id="@item.SanphamId">-</a>
                                                            </div>
                                                            <p class="price float-end">
                                                                <span class="text">Thành tiền: </span>
                                                                <span class="line-item-total">@item.TongTien.ToString("N0")đ</span>
                                                            </p>
                                                        </td>
                                                        <td class="remove position-absolute end-0 me-3">
                                                            <a class="cart" asp-controller="Giohang" asp-action="remove" asp-route-Id="@item.SanphamId">
                                                                <i class="fa fa-times"></i>
                                                            </a>
                                                        </td>
                                                    </tr>

                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="row_note_order">
                                <div class="checkout-note clearfix">
                                    <label for="note" class="note-label">Ghi chú đơn hàng</label>
                                    <textarea id="note" name="note" rows="8" cols="50"></textarea>
                                </div>
                                <div class="check_out_btn">
                                    <a class="button dark link-continue hidden" title="Tiếp tục mua hàng"><i class="fa fa-reply"></i>Tiếp tục mua hàng</a>
                                    <button type="submit" id="update-cart" class="btn-update button dark hidden" name="update" value="">Cập nhật</button>
                                    @*                                      @if (User.Identity?.IsAuthenticated ?? false)
                                {
                                <a asp-controller="Checkout" asp-action="Checkout" class="btn-checkout button dark hidden" >Thanh toán</a>
                                } *@
                                </div>
                            </div>
                        }
                    </form>

                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-6 order_cart_fix">
                <div class="wamper_order_cart">
                    <div class="order_block">
                        <div class="row">
                            <div class="form-group">
                                <label>Tỉnh Thành</label> <br />
                                <select class="css_select" id="tinh" name="tinh" title="Chọn Tỉnh Thành">
                                    <option value="0">Tỉnh Thành</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label>Quận Huyện</label><br />
                                <select class="css_select" id="quan" name="quan" title="Chọn Quận Huyện">
                                    <option value="0">Quận Huyện</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Phường Xã</label><br />
                                <select class="css_select" id="phuong" name="phuong" title="Chọn Phường Xã">
                                    <option value="0">Phường Xã</option>
                                </select>
                            </div>
                            <a type="submit" class="btn btn-success " asp-controller="GioHang" asp-action="DeleteVanChuyen">Không tính vận chuyển</a>
                            <button type="submit" class="btn btn-secondary  btn-add-shipping">Tinh</button>
                        </div>
                    </div>
                    <div class="order_block">
                        <div>
                            <h3>Áp dụng mã khuyến mãi</h3>
                            <form id="applyCouponForm" method="post" asp-action="ApplyCoupon">
                                <input type="text" name="couponCode" placeholder="Nhập mã khuyến mãi" required />
                                <button type="submit">Áp dụng</button>
                            </form>

                            @if (TempData["CouponMessage"] != null)
                            {
                                <div id="couponMessage" style="color: red;">
                                    @TempData["CouponMessage"]
                                </div>
                            }
                        </div>

                        <div class="order_total_price">
                            <table>
                                <tr>
                                    <td><p>Tổng tiền của sản phẩm: </p></td>
                                    <td><p id="gioHangsTotal">@Model.GioHangsTotal.ToString("N0")đ</p></td>
                                </tr>
                                <tr>
                                    <td><p>Phí vận chuyển: </p></td>
                                    <td><p id="giaVanChuyen">@Model.GiaVanChuyen.ToString("N0")đ</p></td>
                                </tr>
                                <tr>
                                    <td><p>Giảm giá: </p></td>
                                    <td><p id="tienGiamGia">@Model.TienGiamGia.ToString("N0")đ</p></td>
                                </tr>
                                <tr>
                                    <td><p>Tổng thanh toán: </p></td>
                                    <td><p id="tongThanhToan">@Model.TongThanhToan.ToString("N0")đ</p></td>
                                </tr>
                            </table>
                            <div class="order_cart_action">
                                <div class="cart-buttons">
                                    @if (User.Identity?.IsAuthenticated ?? false)
                                    {
                                        if (Model.GioHangsTotal > 0)
                                        {
                                            <a asp-controller="Checkout" asp-action="Checkout" class="btn-checkout button dark">Thanh toán</a>
                                        }
                                        else
                                        {
                                            <p class="text-danger">Giỏ hàng của bạn không đủ điều kiện để thanh toán.</p>
                                        }
                                    }
                                    else
                                    {
                                        <p>Bạn cần <a asp-controller="Account" asp-action="Login">đăng nhập</a> để thanh toán.</p>
                                    }
                                </div>
                        </div>
                    </div>

                </div>
                <a class="countine_order_cart" title="Tiếp tục mua hàng" asp-controller="Home" asp-action="index"><i class="fa fa-reply"></i>Tiếp tục mua hàng</a>
            </div>
        </div>
    </div>


    @section Scripts {
        @{
            await Html.RenderPartialAsync("_ValidationScriptsPartial");

        }
        <script src="https://esgoo.net/scripts/jquery.js"></script>
        <script>
            $(".btn-add-shipping").click(function () {
                var tinh = $("#tinh").find("option:selected").text();
                var quan = $("#quan").find("option:selected").text();
                var phuong = $("#phuong").find("option:selected").text();

                if (tinh === "" || quan === "" || phuong === "") {
                    Swal.fire("Vui lòng chọn đầy đủ Tỉnh, Quận, Phường.");
                } else {
                    $.ajax({
                        type: "POST",
                        url: "/GioHang/GetShipping",
                        data: { tinh: tinh, quan: quan, phuong: phuong },
                        success: function (response) {
                            if (response) {
                                // Cập nhật phí vận chuyển vào giao diện
                                // $("span[data-fee='shipping']").text(response.giaVanChuyen.toLocaleString('vi-VN') + "đ");
                                location.reload();
                            }
                        },

                    });
                }
            });

        </script>

        <script>
            $(document).ready(function () {
                //Lấy tỉnh thành
                $.getJSON('https://esgoo.net/api-tinhthanh/1/0.htm', function (data_tinh) {
                    if (data_tinh.error == 0) {
                        $.each(data_tinh.data, function (key_tinh, val_tinh) {
                            $("#tinh").append('<option value="' + val_tinh.id + '">' + val_tinh.full_name + '</option>');
                        });
                        $("#tinh").change(function (e) {
                            var idtinh = $(this).val();
                            //Lấy quận huyện
                            $.getJSON('https://esgoo.net/api-tinhthanh/2/' + idtinh + '.htm', function (data_quan) {
                                if (data_quan.error == 0) {
                                    $("#quan").html('<option value="0">Quận Huyện</option>');
                                    $("#phuong").html('<option value="0">Phường Xã</option>');
                                    $.each(data_quan.data, function (key_quan, val_quan) {
                                        $("#quan").append('<option value="' + val_quan.id + '">' + val_quan.full_name + '</option>');
                                    });
                                    //Lấy phường xã
                                    $("#quan").change(function (e) {
                                        var idquan = $(this).val();
                                        $.getJSON('https://esgoo.net/api-tinhthanh/3/' + idquan + '.htm', function (data_phuong) {
                                            if (data_phuong.error == 0) {
                                                $("#phuong").html('<option value="0">Phường Xã</option>');
                                                $.each(data_phuong.data, function (key_phuong, val_phuong) {
                                                    $("#phuong").append('<option value="' + val_phuong.id + '">' + val_phuong.full_name + '</option>');
                                                });
                                            }
                                        });
                                    });

                                }
                            });
                        });

                    }
                });
            });
        </script>
        <script>$(".btn-add-shipping").click(function () {
    var tinh = $("#tinh").find("option:selected").text();
    var quan = $("#quan").find("option:selected").text();
    var phuong = $("#phuong").find("option:selected").text();
    var couponCode = $("input[name='couponCode']").val(); // Lấy mã khuyến mãi

    if (tinh === "" || quan === "" || phuong === "") {
        Swal.fire("Vui lòng chọn đầy đủ Tỉnh, Quận, Phường.");
    } else {
        $.ajax({
            type: "POST",
            url: "/GioHang/GetShipping",
            data: { tinh: tinh, quan: quan, phuong: phuong, couponCode: couponCode },
            success: function (response) {
                if (response) {
                    location.reload(); // Cập nhật lại giao diện
                }
            },
        });
    }
});
</script>
    }
